<a href="https://colab.research.google.com/github/RafsanJany-44/Rhythms_off_Algorithms/blob/main/Algo_Lab2_13122021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dynamic Programing

In [2]:
rod=[1,2,3,4,5,6,7,8,9,10]
price=[1,5,8,10,15,15,13,20,24,15]

dict={
    0:0,
    1:1,
    2:5,
    3:8,
    4:10,
    5:15,
    6:15,
    7:13,
    8:20,
    9:24,
    10:15
}
print(len(rod),len(price))

10 10

In [7]:
dp={
    0:0,
    1:1
}

In [8]:

def raf(n):
  
  talika=[]
  print("DP: ",n)
  for i in range(n):
    sum = dict[n-i]+dp[i]
    print(n-i,i)
    talika.append(sum)
  print(talika)
  dp[n]=max(talika)

In [9]:
for i in range(1,11):
  raf(i)

DP:  1
1 0
[1]
DP:  2
2 0
1 1
[5, 2]
DP:  3
3 0
2 1
1 2
[8, 6, 6]
DP:  4
4 0
3 1
2 2
1 3
[10, 9, 10, 9]
DP:  5
5 0
4 1
3 2
2 3
1 4
[15, 11, 13, 13, 11]
DP:  6
6 0
5 1
4 2
3 3
2 4
1 5
[15, 16, 15, 16, 15, 16]
DP:  7
7 0
6 1
5 2
4 3
3 4
2 5
1 6
[13, 16, 20, 18, 18, 20, 17]
DP:  8
8 0
7 1
6 2
5 3
4 4
3 5
2 6
1 7
[20, 14, 20, 23, 20, 23, 21, 21]
DP:  9
9 0
8 1
7 2
6 3
5 4
4 5
3 6
2 7
1 8
[24, 21, 18, 23, 25, 25, 24, 25, 24]
DP:  10
10 0
9 1
8 2
7 3
6 4
5 5
4 6
3 7
2 8
1 9
[15, 25, 25, 21, 25, 30, 26, 28, 28, 26]

In [10]:
for i in range(1,7):
  raf(i)

DP:  1
1 0
[1]
DP:  2
2 0
1 1
[5, 2]
DP:  3
3 0
2 1
1 2
[8, 6, 6]
DP:  4
4 0
3 1
2 2
1 3
[10, 9, 10, 9]
DP:  5
5 0
4 1
3 2
2 3
1 4
[15, 11, 13, 13, 11]
DP:  6
6 0
5 1
4 2
3 3
2 4
1 5
[15, 16, 15, 16, 15, 16]

#2nd Task

In [37]:

def raf2(coin,amount):
  dic={}
  amnt=[]
  zeros=[1]
  for i in range(amount+1):
    amnt.append(i)
    zeros.append(0)

  zeros.pop(-1)

    
  dic["a"]=amnt
  
  for i in coin:
    dic[i]=[]
  dic[0]=zeros

  for i in range(1,len(coin)):
    if coin[i]<amount:
      for j in range(len(amnt)):
        if coin[i]>amnt[j]:
          dic[coin[i]].append(dic[coin[i-1]][j])
          
        else:
          c=coin[i-1]+ dic[coin[i]][amnt[j]-coin[i]]
          dic[coin[i]].append(c)
    else:
      dic[coin[i]].append(0)
          
  return dic

In [40]:
coin=[0,2,5,10,50,100,200,501,997]
amount=252
dic=raf2(coin,amount)
for i in dic:
  print(i,dic[i])

a [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252]
0 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
2 [1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
5 [1, 0, 1, 0, 1, 3, 2, 3, 2, 3, 5, 4, 5, 4, 5, 7, 6, 7, 6, 7, 9, 8, 9, 8, 9, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 15, 14, 15, 14, 15, 17, 16, 17, 16, 17, 19, 18, 19, 18, 19, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 25, 24, 25, 24, 25, 27, 26, 27, 26, 27, 29, 28, 29, 28, 29, 31, 30, 31, 30, 31, 33, 32, 33, 32, 33, 35, 34, 35, 34, 35, 37, 36, 37, 36, 37, 39, 38, 39, 38, 39, 41, 40, 41, 40, 41, 43, 42, 43, 42, 43, 45, 44, 45, 44, 45, 47, 46, 47, 46, 47, 49, 48, 49, 48, 49, 51, 50, 51, 50, 51, 53, 52, 53, 52, 53, 55, 54, 55, 54, 55, 57, 56, 57, 56, 57, 59, 58, 59, 58, 59, 61, 60, 61, 60, 61, 63, 62, 63, 62, 63, 65, 64, 65, 64, 65, 67, 66, 67, 66, 67, 69, 68, 69, 68, 69, 71, 70, 71, 70, 71, 73, 72, 73, 72, 73, 75, 74, 75, 74, 75, 77, 76, 77, 76, 77, 79, 78, 79, 78, 79, 81, 80, 81, 80, 81, 83, 82, 83, 82, 83, 85, 84, 85, 84, 85, 87, 86, 87, 86, 87, 89, 88, 89, 88, 89, 91, 90, 91, 90, 91, 93, 92, 93, 92, 93, 95, 94, 95, 94, 95, 97, 96, 97, 96, 97, 99, 98, 99, 98, 99, 101, 100, 101]
10 [1, 0, 1, 0, 1, 3, 2, 3, 2, 3, 6, 5, 6, 5, 6, 8, 7, 8, 7, 8, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 16, 15, 16, 15, 16, 18, 17, 18, 17, 18, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 26, 25, 26, 25, 26, 28, 27, 28, 27, 28, 31, 30, 31, 30, 31, 33, 32, 33, 32, 33, 36, 35, 36, 35, 36, 38, 37, 38, 37, 38, 41, 40, 41, 40, 41, 43, 42, 43, 42, 43, 46, 45, 46, 45, 46, 48, 47, 48, 47, 48, 51, 50, 51, 50, 51, 53, 52, 53, 52, 53, 56, 55, 56, 55, 56, 58, 57, 58, 57, 58, 61, 60, 61, 60, 61, 63, 62, 63, 62, 63, 66, 65, 66, 65, 66, 68, 67, 68, 67, 68, 71, 70, 71, 70, 71, 73, 72, 73, 72, 73, 76, 75, 76, 75, 76, 78, 77, 78, 77, 78, 81, 80, 81, 80, 81, 83, 82, 83, 82, 83, 86, 85, 86, 85, 86, 88, 87, 88, 87, 88, 91, 90, 91, 90, 91, 93, 92, 93, 92, 93, 96, 95, 96, 95, 96, 98, 97, 98, 97, 98, 101, 100, 101, 100, 101, 103, 102, 103, 102, 103, 106, 105, 106, 105, 106, 108, 107, 108, 107, 108, 111, 110, 111, 110, 111, 113, 112, 113, 112, 113, 116, 115, 116, 115, 116, 118, 117, 118, 117, 118, 121, 120, 121, 120, 121, 123, 122, 123, 122, 123, 126, 125, 126]
50 [1, 0, 1, 0, 1, 3, 2, 3, 2, 3, 6, 5, 6, 5, 6, 8, 7, 8, 7, 8, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 16, 15, 16, 15, 16, 18, 17, 18, 17, 18, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 16, 15, 16, 15, 16, 18, 17, 18, 17, 18, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 26, 25, 26, 25, 26, 28, 27, 28, 27, 28, 31, 30, 31, 30, 31, 33, 32, 33, 32, 33, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 26, 25, 26, 25, 26, 28, 27, 28, 27, 28, 31, 30, 31, 30, 31, 33, 32, 33, 32, 33, 36, 35, 36, 35, 36, 38, 37, 38, 37, 38, 41, 40, 41, 40, 41, 43, 42, 43, 42, 43, 31, 30, 31, 30, 31, 33, 32, 33, 32, 33, 36, 35, 36, 35, 36, 38, 37, 38, 37, 38, 41, 40, 41, 40, 41, 43, 42, 43, 42, 43, 46, 45, 46, 45, 46, 48, 47, 48, 47, 48, 51, 50, 51, 50, 51, 53, 52, 53, 52, 53, 41, 40, 41, 40, 41, 43, 42, 43, 42, 43, 46, 45, 46, 45, 46, 48, 47, 48, 47, 48, 51, 50, 51, 50, 51, 53, 52, 53, 52, 53, 56, 55, 56, 55, 56, 58, 57, 58, 57, 58, 61, 60, 61, 60, 61, 63, 62, 63, 62, 63, 51, 50, 51]
100 [1, 0, 1, 0, 1, 3, 2, 3, 2, 3, 6, 5, 6, 5, 6, 8, 7, 8, 7, 8, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 16, 15, 16, 15, 16, 18, 17, 18, 17, 18, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 16, 15, 16, 15, 16, 18, 17, 18, 17, 18, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 26, 25, 26, 25, 26, 28, 27, 28, 27, 28, 31, 30, 31, 30, 31, 33, 32, 33, 32, 33, 51, 50, 51, 50, 51, 53, 52, 53, 52, 53, 56, 55, 56, 55, 56, 58, 57, 58, 57, 58, 61, 60, 61, 60, 61, 63, 62, 63, 62, 63, 66, 65, 66, 65, 66, 68, 67, 68, 67, 68, 71, 70, 71, 70, 71, 73, 72, 73, 72, 73, 61, 60, 61, 60, 61, 63, 62, 63, 62, 63, 66, 65, 66, 65, 66, 68, 67, 68, 67, 68, 71, 70, 71, 70, 71, 73, 72, 73, 72, 73, 76, 75, 76, 75, 76, 78, 77, 78, 77, 78, 81, 80, 81, 80, 81, 83, 82, 83, 82, 83, 101, 100, 101, 100, 101, 103, 102, 103, 102, 103, 106, 105, 106, 105, 106, 108, 107, 108, 107, 108, 111, 110, 111, 110, 111, 113, 112, 113, 112, 113, 116, 115, 116, 115, 116, 118, 117, 118, 117, 118, 121, 120, 121, 120, 121, 123, 122, 123, 122, 123, 111, 110, 111]
200 [1, 0, 1, 0, 1, 3, 2, 3, 2, 3, 6, 5, 6, 5, 6, 8, 7, 8, 7, 8, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 16, 15, 16, 15, 16, 18, 17, 18, 17, 18, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 16, 15, 16, 15, 16, 18, 17, 18, 17, 18, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 26, 25, 26, 25, 26, 28, 27, 28, 27, 28, 31, 30, 31, 30, 31, 33, 32, 33, 32, 33, 51, 50, 51, 50, 51, 53, 52, 53, 52, 53, 56, 55, 56, 55, 56, 58, 57, 58, 57, 58, 61, 60, 61, 60, 61, 63, 62, 63, 62, 63, 66, 65, 66, 65, 66, 68, 67, 68, 67, 68, 71, 70, 71, 70, 71, 73, 72, 73, 72, 73, 61, 60, 61, 60, 61, 63, 62, 63, 62, 63, 66, 65, 66, 65, 66, 68, 67, 68, 67, 68, 71, 70, 71, 70, 71, 73, 72, 73, 72, 73, 76, 75, 76, 75, 76, 78, 77, 78, 77, 78, 81, 80, 81, 80, 81, 83, 82, 83, 82, 83, 101, 100, 101, 100, 101, 103, 102, 103, 102, 103, 106, 105, 106, 105, 106, 108, 107, 108, 107, 108, 111, 110, 111, 110, 111, 113, 112, 113, 112, 113, 116, 115, 116, 115, 116, 118, 117, 118, 117, 118, 121, 120, 121, 120, 121, 123, 122, 123, 122, 123, 111, 110, 111]
501 [0]
997 [0]

In [53]:

fields=dic['a']
fields.insert(0,"COINS")
dat=[]
for i in dic:
  if i!='a':
    temp=dic[i]
    temp.insert(0,i)
    dat.append(temp)

print(*dat,sep="\n")

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2, 2, 2, 2, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
[5, 5, 5, 5, 1, 0, 1, 0, 1, 3, 2, 3, 2, 3, 5, 4, 5, 4, 5, 7, 6, 7, 6, 7, 9, 8, 9, 8, 9, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 15, 14, 15, 14, 15, 17, 16, 17, 16, 17, 19, 18, 19, 18, 19, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 25, 24, 25, 24, 25, 27, 26, 27, 26, 27, 29, 28, 29, 28, 29, 31, 30, 31, 30, 31, 33, 32, 33, 32, 33, 35, 34, 35, 34, 35, 37, 36, 37, 36, 37, 39, 38, 39, 38, 39, 41, 40, 41, 40, 41, 43, 42, 43, 42, 43, 45, 44, 45, 44, 45, 47, 46, 47, 46, 47, 49, 48, 49, 48, 49, 51, 50, 51, 50, 51, 53, 52, 53, 52, 53, 55, 54, 55, 54, 55, 57, 56, 57, 56, 57, 59, 58, 59, 58, 59, 61, 60, 61, 60, 61, 63, 62, 63, 62, 63, 65, 64, 65, 64, 65, 67, 66, 67, 66, 67, 69, 68, 69, 68, 69, 71, 70, 71, 70, 71, 73, 72, 73, 72, 73, 75, 74, 75, 74, 75, 77, 76, 77, 76, 77, 79, 78, 79, 78, 79, 81, 80, 81, 80, 81, 83, 82, 83, 82, 83, 85, 84, 85, 84, 85, 87, 86, 87, 86, 87, 89, 88, 89, 88, 89, 91, 90, 91, 90, 91, 93, 92, 93, 92, 93, 95, 94, 95, 94, 95, 97, 96, 97, 96, 97, 99, 98, 99, 98, 99, 101, 100, 101]
[10, 10, 10, 10, 1, 0, 1, 0, 1, 3, 2, 3, 2, 3, 6, 5, 6, 5, 6, 8, 7, 8, 7, 8, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 16, 15, 16, 15, 16, 18, 17, 18, 17, 18, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 26, 25, 26, 25, 26, 28, 27, 28, 27, 28, 31, 30, 31, 30, 31, 33, 32, 33, 32, 33, 36, 35, 36, 35, 36, 38, 37, 38, 37, 38, 41, 40, 41, 40, 41, 43, 42, 43, 42, 43, 46, 45, 46, 45, 46, 48, 47, 48, 47, 48, 51, 50, 51, 50, 51, 53, 52, 53, 52, 53, 56, 55, 56, 55, 56, 58, 57, 58, 57, 58, 61, 60, 61, 60, 61, 63, 62, 63, 62, 63, 66, 65, 66, 65, 66, 68, 67, 68, 67, 68, 71, 70, 71, 70, 71, 73, 72, 73, 72, 73, 76, 75, 76, 75, 76, 78, 77, 78, 77, 78, 81, 80, 81, 80, 81, 83, 82, 83, 82, 83, 86, 85, 86, 85, 86, 88, 87, 88, 87, 88, 91, 90, 91, 90, 91, 93, 92, 93, 92, 93, 96, 95, 96, 95, 96, 98, 97, 98, 97, 98, 101, 100, 101, 100, 101, 103, 102, 103, 102, 103, 106, 105, 106, 105, 106, 108, 107, 108, 107, 108, 111, 110, 111, 110, 111, 113, 112, 113, 112, 113, 116, 115, 116, 115, 116, 118, 117, 118, 117, 118, 121, 120, 121, 120, 121, 123, 122, 123, 122, 123, 126, 125, 126]
[50, 50, 50, 50, 1, 0, 1, 0, 1, 3, 2, 3, 2, 3, 6, 5, 6, 5, 6, 8, 7, 8, 7, 8, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 16, 15, 16, 15, 16, 18, 17, 18, 17, 18, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 16, 15, 16, 15, 16, 18, 17, 18, 17, 18, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 26, 25, 26, 25, 26, 28, 27, 28, 27, 28, 31, 30, 31, 30, 31, 33, 32, 33, 32, 33, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 26, 25, 26, 25, 26, 28, 27, 28, 27, 28, 31, 30, 31, 30, 31, 33, 32, 33, 32, 33, 36, 35, 36, 35, 36, 38, 37, 38, 37, 38, 41, 40, 41, 40, 41, 43, 42, 43, 42, 43, 31, 30, 31, 30, 31, 33, 32, 33, 32, 33, 36, 35, 36, 35, 36, 38, 37, 38, 37, 38, 41, 40, 41, 40, 41, 43, 42, 43, 42, 43, 46, 45, 46, 45, 46, 48, 47, 48, 47, 48, 51, 50, 51, 50, 51, 53, 52, 53, 52, 53, 41, 40, 41, 40, 41, 43, 42, 43, 42, 43, 46, 45, 46, 45, 46, 48, 47, 48, 47, 48, 51, 50, 51, 50, 51, 53, 52, 53, 52, 53, 56, 55, 56, 55, 56, 58, 57, 58, 57, 58, 61, 60, 61, 60, 61, 63, 62, 63, 62, 63, 51, 50, 51]
[100, 100, 100, 100, 1, 0, 1, 0, 1, 3, 2, 3, 2, 3, 6, 5, 6, 5, 6, 8, 7, 8, 7, 8, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 16, 15, 16, 15, 16, 18, 17, 18, 17, 18, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 16, 15, 16, 15, 16, 18, 17, 18, 17, 18, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 26, 25, 26, 25, 26, 28, 27, 28, 27, 28, 31, 30, 31, 30, 31, 33, 32, 33, 32, 33, 51, 50, 51, 50, 51, 53, 52, 53, 52, 53, 56, 55, 56, 55, 56, 58, 57, 58, 57, 58, 61, 60, 61, 60, 61, 63, 62, 63, 62, 63, 66, 65, 66, 65, 66, 68, 67, 68, 67, 68, 71, 70, 71, 70, 71, 73, 72, 73, 72, 73, 61, 60, 61, 60, 61, 63, 62, 63, 62, 63, 66, 65, 66, 65, 66, 68, 67, 68, 67, 68, 71, 70, 71, 70, 71, 73, 72, 73, 72, 73, 76, 75, 76, 75, 76, 78, 77, 78, 77, 78, 81, 80, 81, 80, 81, 83, 82, 83, 82, 83, 101, 100, 101, 100, 101, 103, 102, 103, 102, 103, 106, 105, 106, 105, 106, 108, 107, 108, 107, 108, 111, 110, 111, 110, 111, 113, 112, 113, 112, 113, 116, 115, 116, 115, 116, 118, 117, 118, 117, 118, 121, 120, 121, 120, 121, 123, 122, 123, 122, 123, 111, 110, 111]
[200, 200, 200, 200, 1, 0, 1, 0, 1, 3, 2, 3, 2, 3, 6, 5, 6, 5, 6, 8, 7, 8, 7, 8, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 16, 15, 16, 15, 16, 18, 17, 18, 17, 18, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 11, 10, 11, 10, 11, 13, 12, 13, 12, 13, 16, 15, 16, 15, 16, 18, 17, 18, 17, 18, 21, 20, 21, 20, 21, 23, 22, 23, 22, 23, 26, 25, 26, 25, 26, 28, 27, 28, 27, 28, 31, 30, 31, 30, 31, 33, 32, 33, 32, 33, 51, 50, 51, 50, 51, 53, 52, 53, 52, 53, 56, 55, 56, 55, 56, 58, 57, 58, 57, 58, 61, 60, 61, 60, 61, 63, 62, 63, 62, 63, 66, 65, 66, 65, 66, 68, 67, 68, 67, 68, 71, 70, 71, 70, 71, 73, 72, 73, 72, 73, 61, 60, 61, 60, 61, 63, 62, 63, 62, 63, 66, 65, 66, 65, 66, 68, 67, 68, 67, 68, 71, 70, 71, 70, 71, 73, 72, 73, 72, 73, 76, 75, 76, 75, 76, 78, 77, 78, 77, 78, 81, 80, 81, 80, 81, 83, 82, 83, 82, 83, 101, 100, 101, 100, 101, 103, 102, 103, 102, 103, 106, 105, 106, 105, 106, 108, 107, 108, 107, 108, 111, 110, 111, 110, 111, 113, 112, 113, 112, 113, 116, 115, 116, 115, 116, 118, 117, 118, 117, 118, 121, 120, 121, 120, 121, 123, 122, 123, 122, 123, 111, 110, 111]
[501, 501, 501, 501, 0]
[997, 997, 997, 997, 0]

In [56]:


def write_csv(fields,data,name):
  import csv  
  filename = name+".csv"
  with open(filename, 'w') as csvfile:  
      csvwriter = csv.writer(csvfile) 
      csvwriter.writerow(fields) 
      csvwriter.writerows(data)
write_csv(fields,dat,"new")

In [57]:
import pandas as pd
pd.read_csv("new.csv")

         COINS  COINS.1  0    1    2  ...    248    249    250    251    252
0   0        0        0  1  0.0  0.0  ...    0.0    0.0    0.0    0.0    0.0
2   2        2        2  1  0.0  1.0  ...    1.0    0.0    1.0    0.0    1.0
5   5        5        5  1  0.0  1.0  ...   98.0   99.0  101.0  100.0  101.0
10  10      10       10  1  0.0  1.0  ...  122.0  123.0  126.0  125.0  126.0
50  50      50       50  1  0.0  1.0  ...   62.0   63.0   51.0   50.0   51.0
100 100    100      100  1  0.0  1.0  ...  122.0  123.0  111.0  110.0  111.0
200 200    200      200  1  0.0  1.0  ...  122.0  123.0  111.0  110.0  111.0
501 501    501      501  0  NaN  NaN  ...    NaN    NaN    NaN    NaN    NaN
997 997    997      997  0  NaN  NaN  ...    NaN    NaN    NaN    NaN    NaN

[9 rows x 255 columns]

Using the same sets of coins (2,5,10,50,100,200,501,997), can the value 10 be con- structed? Use the DP table you already constructed in the previous answer.<br><br>

ConstructanotherDPtableusingthesesetsofcoinvalues(1,2,5,10,50,100,200,500,1000). Now try to construct these total values: 37, 72, 101, 7.
<br>
https://lightoj.com/problem/coin-change-iii