<a href="https://colab.research.google.com/github/RafsanJany-44/Rhythms_off_Algorithms/blob/main/Algo_Lab2_13122021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dynamic Programing

In [ ]:
rod=[1,2,3,4,5,6,7,8,9,10]
price=[1,5,8,10,15,15,13,20,24,15]

dict={
    0:0,
    1:1,
    2:5,
    3:8,
    4:10,
    5:15,
    6:15,
    7:13,
    8:20,
    9:24,
    10:15
}
print(len(rod),len(price))

10 10

In [ ]:
dp={
    0:0,
    1:1
}

In [ ]:

def raf(n):
  talika=[]
  print("DP: ",n)
  for i in range(n):
    sum = dict[n-i]+dp[i]
    print(n-i,i)
    talika.append(sum)
  print(talika)
  dp[n]=max(talika)

In [ ]:
for i in range(1,11):
  raf(i)

DP:  1
1 0
[1]
DP:  2
2 0
1 1
[5, 2]
DP:  3
3 0
2 1
1 2
[8, 6, 6]
DP:  4
4 0
3 1
2 2
1 3
[10, 9, 10, 9]
DP:  5
5 0
4 1
3 2
2 3
1 4
[15, 11, 13, 13, 11]
DP:  6
6 0
5 1
4 2
3 3
2 4
1 5
[15, 16, 15, 16, 15, 16]
DP:  7
7 0
6 1
5 2
4 3
3 4
2 5
1 6
[13, 16, 20, 18, 18, 20, 17]
DP:  8
8 0
7 1
6 2
5 3
4 4
3 5
2 6
1 7
[20, 14, 20, 23, 20, 23, 21, 21]
DP:  9
9 0
8 1
7 2
6 3
5 4
4 5
3 6
2 7
1 8
[24, 21, 18, 23, 25, 25, 24, 25, 24]
DP:  10
10 0
9 1
8 2
7 3
6 4
5 5
4 6
3 7
2 8
1 9
[15, 25, 25, 21, 25, 30, 26, 28, 28, 26]

In [ ]:
print(dp)

{0: 0, 1: 1, 2: 5, 3: 8, 4: 10, 5: 15, 6: 16, 7: 20, 8: 23, 9: 25, 10: 30}

In [ ]:
for i in range(1,7):
  raf(i)

DP:  1
1 0
[1]
DP:  2
2 0
1 1
[5, 2]
DP:  3
3 0
2 1
1 2
[8, 6, 6]
DP:  4
4 0
3 1
2 2
1 3
[10, 9, 10, 9]
DP:  5
5 0
4 1
3 2
2 3
1 4
[15, 11, 13, 13, 11]
DP:  6
6 0
5 1
4 2
3 3
2 4
1 5
[15, 16, 15, 16, 15, 16]