<a href="https://colab.research.google.com/github/RafsanJany-44/Rhythms_off_Algorithms/blob/main/Algo_Lab2_13122021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<font color="red">Task 1</font>

In [58]:
def write_csv(fields,data,name):
  import csv  
  filename = name+".csv"
  with open(filename, 'w') as csvfile:  
      csvwriter = csv.writer(csvfile) 
      csvwriter.writerow(fields) 
      csvwriter.writerows(data)

In [61]:
rod=[1,2,3,4,5,6,7,8,9,10]
price=[1,5,8,10,15,15,13,20,24,15]

dict={
    0:0,
    1:1,
    2:5,
    3:8,
    4:10,
    5:15,
    6:15,
    7:13,
    8:20,
    9:24,
    10:15
}
print(len(rod),len(price))

10 10

In [62]:
dp={
    0:0,
    1:1
}

In [63]:

def raf(n):
  
  talika=[]
  print("DP: ",n)
  for i in range(n):
    sum = dict[n-i]+dp[i]
    print(n-i,i)
    talika.append(sum)
  print(talika)
  dp[n]=max(talika)

In [64]:
for i in range(1,11):
  raf(i)

DP:  1
1 0
[1]
DP:  2
2 0
1 1
[5, 2]
DP:  3
3 0
2 1
1 2
[8, 6, 6]
DP:  4
4 0
3 1
2 2
1 3
[10, 9, 10, 9]
DP:  5
5 0
4 1
3 2
2 3
1 4
[15, 11, 13, 13, 11]
DP:  6
6 0
5 1
4 2
3 3
2 4
1 5
[15, 16, 15, 16, 15, 16]
DP:  7
7 0
6 1
5 2
4 3
3 4
2 5
1 6
[13, 16, 20, 18, 18, 20, 17]
DP:  8
8 0
7 1
6 2
5 3
4 4
3 5
2 6
1 7
[20, 14, 20, 23, 20, 23, 21, 21]
DP:  9
9 0
8 1
7 2
6 3
5 4
4 5
3 6
2 7
1 8
[24, 21, 18, 23, 25, 25, 24, 25, 24]
DP:  10
10 0
9 1
8 2
7 3
6 4
5 5
4 6
3 7
2 8
1 9
[15, 25, 25, 21, 25, 30, 26, 28, 28, 26]

#<font color="red">d)</font>

In [66]:

data=[]
fields=["Length","Price","P/i"]
for i in dp:
  if i!=0:
    temp=[i,dp[i],dp[i]/i]
    data.append(temp)

write_csv(fields,data,"rod_cutting")
import pandas as pd
pd.read_csv("rod_cutting.csv")

   Length  Price       P/i
0       1      1  1.000000
1       2      5  2.500000
2       3      8  2.666667
3       4     10  2.500000
4       5     15  3.000000
5       6     16  2.666667
6       7     20  2.857143
7       8     23  2.875000
8       9     25  2.777778
9      10     30  3.000000

#<font color="red">2nd Task</font>

In [73]:

def raf2(coin,amount):
  dic={}
  amnt=[]
  zeros=[1]
  for i in range(amount+1):
    amnt.append(i)
    zeros.append(0)

  zeros.pop(-1)

    
  dic["a"]=amnt
  
  for i in coin:
    dic[i]=[]
  dic[0]=zeros

  for i in range(1,len(coin)):
    if coin[i]<=amount:
      for j in range(len(amnt)):
        if coin[i]>amnt[j]:
          dic[coin[i]].append(dic[coin[i-1]][j])
          
        else:
          c=coin[i-1]+ dic[coin[i]][amnt[j]-coin[i]]
          dic[coin[i]].append(c)
    else:
      dic[coin[i]].append(0)
          
  return dic

#<font color="Pink">a)iii. Imagine, the coins you are provided are of values 2, 5, 10, 50, 100, 200, 501, 997. Can you make a DP table to find out if the value 252 can be constructed using these coins or not? You can write code in your computer to generate this DP table</font><br>#SOLVED

In [74]:
coin=[0,2,5,10,50,100,200,501,997]
amount=252
dic=raf2(coin,amount)

def write_csv(fields,data,name):
  import csv  
  filename = name+".csv"
  with open(filename, 'w') as csvfile:  
      csvwriter = csv.writer(csvfile) 
      csvwriter.writerow(fields) 
      csvwriter.writerows(data)

def coin_table(dic):
  data=[]
  fields=[]
  fields=dic['a']
  fields.insert(0,"COINS")
  data=[]
  for i in dic:
    if i!='a':
      temp=dic[i]
      temp.insert(0,i)
      data.append(temp)
  write_csv(fields,data,"coin_dp_table")

coin_table(dic)
import pandas as pd
pd.read_csv("coin_dp_table.csv")

   COINS  0    1    2    3    4  ...    247    248    249    250    251    252
0      0  1  0.0  0.0  0.0  0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0
1      2  1  0.0  1.0  0.0  1.0  ...    0.0    1.0    0.0    1.0    0.0    1.0
2      5  1  0.0  1.0  0.0  1.0  ...   99.0   98.0   99.0  101.0  100.0  101.0
3     10  1  0.0  1.0  0.0  1.0  ...  123.0  122.0  123.0  126.0  125.0  126.0
4     50  1  0.0  1.0  0.0  1.0  ...   63.0   62.0   63.0   51.0   50.0   51.0
5    100  1  0.0  1.0  0.0  1.0  ...  123.0  122.0  123.0  111.0  110.0  111.0
6    200  1  0.0  1.0  0.0  1.0  ...  123.0  122.0  123.0  111.0  110.0  111.0
7    501  0  NaN  NaN  NaN  NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN
8    997  0  NaN  NaN  NaN  NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN

[9 rows x 254 columns]

Warning: Total number of columns (254) exceeds max_columns (20) limiting to first (20) columns.

#<font color="Pink">a)iv. Using the same sets of coins (2,5,10,50,100,200,501,997), can the value 10 be con- structed? Use the DP table you already constructed in the previous answer.</font><br>#SOLVED

In [75]:
coin=[0,2,5,10,50,100,200,501,997]
amount=10
dic=raf2(coin,amount)

def write_csv(fields,data,name):
  import csv  
  filename = name+".csv"
  with open(filename, 'w') as csvfile:  
      csvwriter = csv.writer(csvfile) 
      csvwriter.writerow(fields) 
      csvwriter.writerows(data)

def coin_table(dic):
  data=[]
  fields=[]
  fields=dic['a']
  fields.insert(0,"COINS")
  data=[]
  for i in dic:
    if i!='a':
      temp=dic[i]
      temp.insert(0,i)
      data.append(temp)
  write_csv(fields,data,"coin_dp_table")

coin_table(dic)
import pandas as pd
pd.read_csv("coin_dp_table.csv")

   COINS  0    1    2    3    4    5    6    7    8    9   10
0      0  1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      2  1  0.0  1.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  1.0
2      5  1  0.0  1.0  0.0  1.0  3.0  2.0  3.0  2.0  3.0  5.0
3     10  1  0.0  1.0  0.0  1.0  3.0  2.0  3.0  2.0  3.0  6.0
4     50  0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5    100  0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6    200  0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
7    501  0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
8    997  0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN